{#
Snowflake Output Table Template (DT_3 Tier)
===========================================
Generates final output table with formula calculations.

Variables:
- table_name: Name of the output table
- source_tables: List of source tables to join
- dimensions: List of dimension columns
- base_measures: List of base measure columns from sources
- calculated_columns: List of formula-based calculated columns
- formulas: List of formula definitions (SUBTRACT, ADD, MULTIPLY, etc.)
#}

CREATE OR REPLACE DYNAMIC TABLE {{ target_database | default('') }}{% if target_database | default('') %}.{% endif %}{{ target_schema | default('') }}{% if target_schema | default('') %}.{% endif %}{{ table_name }}
{% if comment %}
COMMENT = '{{ comment | replace("'", "''") }}'
{% endif %}
TARGET_LAG = '{{ target_lag | default('1 hour') }}'
WAREHOUSE = {{ warehouse | default('COMPUTE_WH') }}
AS
{% if use_cte | default(false) %}
WITH
{% for source in source_tables %}
{{ source.alias | default(source.name) }}_cte AS (
    SELECT *
    FROM {{ source.database | default('') }}{% if source.database | default('') %}.{% endif %}{{ source.schema | default('') }}{% if source.schema | default('') %}.{% endif %}{{ source.name }}
    {% if source.filters | default([]) %}
    WHERE
    {% for filter in source.filters %}
        {% if not loop.first %}AND {% endif %}{{ filter.expression }}
    {% endfor %}
    {% endif %}
){% if not loop.last %},{% endif %}

{% endfor %}
{% endif %}

SELECT
    {# Dimension columns #}
    {% for dim in dimensions | default([]) %}
    {% if dim.source_alias %}{{ dim.source_alias }}.{% endif %}{{ dim.column }}{% if dim.alias %} AS {{ dim.alias }}{% endif %},
    {% endfor %}

    {# Base measure columns #}
    {% for measure in base_measures | default([]) %}
    {% if measure.source_alias %}{{ measure.source_alias }}.{% endif %}{{ measure.column }}{% if measure.alias %} AS {{ measure.alias }}{% endif %},
    {% endfor %}

    {# Calculated/Formula columns #}
    {% for calc in calculated_columns | default([]) %}
    {% if calc.formula_type == 'SUBTRACT' %}
    ({{ calc.operands[0] }} - {% if calc.operands | length > 2 %}({% endif %}{{ calc.operands[1:] | join(' + ') }}{% if calc.operands | length > 2 %}){% endif %}) AS {{ calc.alias }}{% if not loop.last %},{% endif %}

    {% elif calc.formula_type == 'ADD' or calc.formula_type == 'SUM' %}
    ({{ calc.operands | join(' + ') }}) AS {{ calc.alias }}{% if not loop.last %},{% endif %}

    {% elif calc.formula_type == 'MULTIPLY' %}
    ({{ calc.operands | join(' * ') }}) AS {{ calc.alias }}{% if not loop.last %},{% endif %}

    {% elif calc.formula_type == 'DIVIDE' %}
    CASE WHEN {{ calc.operands[1] }} = 0 THEN NULL ELSE {{ calc.operands[0] }} / {{ calc.operands[1] }} END AS {{ calc.alias }}{% if not loop.last %},{% endif %}

    {% elif calc.formula_type == 'PERCENT' %}
    CASE WHEN {{ calc.operands[1] }} = 0 THEN NULL ELSE ({{ calc.operands[0] }} / {{ calc.operands[1] }}) * 100 END AS {{ calc.alias }}{% if not loop.last %},{% endif %}

    {% elif calc.formula_type == 'VARIANCE' %}
    ({{ calc.operands[0] }} - {{ calc.operands[1] }}) AS {{ calc.alias }}_AMT,
    CASE WHEN {{ calc.operands[1] }} = 0 THEN NULL ELSE (({{ calc.operands[0] }} - {{ calc.operands[1] }}) / {{ calc.operands[1] }}) * 100 END AS {{ calc.alias }}_PCT{% if not loop.last %},{% endif %}

    {% elif calc.formula_type == 'EXPRESSION' %}
    {{ calc.expression }} AS {{ calc.alias }}{% if not loop.last %},{% endif %}

    {% else %}
    {{ calc.expression | default('NULL') }} AS {{ calc.alias }}{% if not loop.last %},{% endif %}

    {% endif %}
    {% endfor %}

{% if use_cte | default(false) %}
FROM {{ source_tables[0].alias | default(source_tables[0].name) }}_cte{% if source_tables[0].alias %} {{ source_tables[0].alias }}{% endif %}

{% for source in source_tables[1:] %}
{{ source.join_type | default('LEFT') }} JOIN {{ source.alias | default(source.name) }}_cte{% if source.alias %} {{ source.alias }}{% endif %}

    ON {{ source.join_on }}
{% endfor %}
{% else %}
FROM {{ source_tables[0].database | default('') }}{% if source_tables[0].database | default('') %}.{% endif %}{{ source_tables[0].schema | default('') }}{% if source_tables[0].schema | default('') %}.{% endif %}{{ source_tables[0].name }}{% if source_tables[0].alias %} AS {{ source_tables[0].alias }}{% endif %}

{% for source in source_tables[1:] %}
{{ source.join_type | default('LEFT') }} JOIN {{ source.database | default('') }}{% if source.database | default('') %}.{% endif %}{{ source.schema | default('') }}{% if source.schema | default('') %}.{% endif %}{{ source.name }}{% if source.alias %} AS {{ source.alias }}{% endif %}

    ON {{ source.join_on }}
{% endfor %}
{% endif %}
{% if filters | default([]) %}
WHERE
{% for filter in filters %}
    {% if not loop.first %}AND {% endif %}{{ filter.expression }}
{% endfor %}
{% endif %}
;
